body {background-color: seagreen;}
#MsHeart{
    color: orange;
       }
       h1,h2,h3,h4{
          color: darkgrey;
          font-size: 30px;
          background-color: lightyellow;
          }
       h1{ 
 color:coral;
       }
       .uppercase{
          text-transform: uppercase;
       }
       .important {
          color: orchid;
       }